/* week2 testing testing */

:root {
    --default-font-color: #fff;
    --default-font-size: 16px;
    --description-font-color: #000;
    --default-background-color:#333;
    --default-font-family: "Trebuchet MS";
}

html {
    color: var(--default-font-color);
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

html, body {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--default-background-color);
}

body, ul {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

.navigation-bar {
    text-align: center;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* border: 1rem solid; */
}

.navigation-bar img {
    width: 100px;
    /* border: 1rem solid; */
}

.navigation-bar ul {
    padding: 50px;
    margin: 0px;
    list-style: none;
    text-align: center;
    display: inline-block;
    vertical-align:top;
}

.navigation-bar ul li {
    display: inline;
    margin: 24px 48px;
}

.nav-main {
    text-decoration: none;
    color: inherit;
    font-size: var(--default-font-size);
}

.nav-main:hover {
    text-decoration: underline;
}

.mobile-menu-icon {
    display: none;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px 4px; /* Adjusted padding */
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 8px 12px; /* Adjusted padding */
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
    color: #fff;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-image: url("./Assets/heroHats.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.hero-text {
    font-size: calc(var(--base-font-size)*2);
    text-align: center;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 16px 24px;
    color: #000;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: #fff;
}

/* Description */
.description-container {
    background-color: #fff;
    color: var(--description-font-color);
    padding: 12px;
}

.description-text {
    width: 60%;
    margin: 0 auto;
}

/* Footer */
footer {
    padding: 16px;
}

.footer-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer section {
    margin: 8px;
}

.footer-main{
    text-decoration: none;
    color: inherit;
    font-size: var(--default-font-size);
}

.footer-main:hover {
    text-decoration: underline;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .hero-text button {
        padding: 4px 16px;
    }

    .mobile-menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        background-color: var(--default-background-color);
        position: absolute;
        z-index: 100;
        top: 90px;
        left: 0;
        right: 0;
    }

    .nav-items.show {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-items ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navigation-bar ul li {
        display: inline;
        margin: 0px;
    }

    .nav-items li {
        margin: 0;
        text-align: center;
        padding: 12px;
    }

    .nav-items li:hover {
        text-decoration: underline;
    }
}

/* Media query for tablet responsiveness */
@media (max-width: 1024px) {
    nav ul li {
        margin: 0 4px;
    }

    .description {
        padding: 8px;
    }

    footer section {
        width: 100%;
    }
}